@import '../../scss/_config.scss';

/* Labels
----------------------------------------------- */
.badge {
  border-radius: $radius-s;
  background: $grey;
  color: $brightest;
  font-size: $font-xxs;
  display: inline-block;
  padding: $space-xxs $space-s;
  margin-right: $space-s;
  vertical-align: top;
  margin-top: -1px;
}
.badge--compact {
  @extend .badge;
  line-height: $lheight-xs;
}

/* Colors
----------------------------------------------- */
.badge--dimmed {
  @extend .badge;
  color: $dark;
  background: $grey-lightest;
}
.badge--orange {
  @extend .badge;
  background: $gamboge;
}
.badge--blue {
  @extend .badge;
  background: $fountain-blue;
  float: right; 
}