/* Colors
/* (Always from darker to lighter towards the bottom)
----------------------------------------------- */

/* Shades of Grey
------------------- */

$darkest        : #111;
$dark           : #333;

$grey-darkest   : #707070;
$grey-dark      : #666;
$grey           : #999;
$grey-light     : #ccc;
$grey-lightest  : #efefef;

$bright         : #F4F6F7;
$brightest      : #fff;

/* Rainbow
------------------- */

// Reds
$burgundy             : #990028;
$burgundy-dark        : adjust-lightness($burgundy, -5%);
$burgundy-darker      : adjust-lightness($burgundy, -10%);
$cadmium-yellow-red   : #F25647;

// Greens
$atlantis             : #99BB33;
$atlantis-dark        : adjust-lightness($atlantis, -8%);
$atlantis-darker      : adjust-lightness($atlantis, -12%);

// Blues
$bahama-blue          : #006699;
$bahama-blue-dark     : adjust-lightness($bahama-blue, -5%);
$bahama-blue-darker   : adjust-lightness($bahama-blue, -10%);

$fountain-blue        : #68A4C0; // bahama-blue's 60% variation
$botticelli           : #CDE0EA; // bahama-blue's 20% variation

// Yellows
$twine                : #C09853;
$twine-dark           : adjust-lightness($twine, -5%);
$twine-darker         : adjust-lightness($twine, -10%);

$moon-glow            : #FEFCD7;

// Orange
$gamboge              : #e8960c;
$gamboge-dark         : adjust-lightness($gamboge, -5%);

// Contrast Blues
$woodsmoke            : #181A1F;
$shark                : #272A32;
$tuna                 : #31353E;
$iron                 : #D6D7D8;

// Soprano
$soprano-green        :#033840;
$soprano-green-light  : adjust-lightness($soprano-green, 5%);
$soprano-green-dark   : adjust-lightness($soprano-green, -5%);

/* Transparent shades
/* (shadows and glows)
------------------- */

$darken-strong  : rgba(0,0,0,0.3);
$darken         : rgba(0,0,0,0.2);
$darken-weak    : rgba(0,0,0,0.1);

$lighten-strong : rgba(255,255,255,0.3);
$lighten        : rgba(255,255,255,0.2);
$lighten-weak   : rgba(255,255,255,0.1);

/* Typography
----------------------------------------------- */

// Font Families
$default-font-family        : "Helvetica Neue", Helvetica, Arial, sans-serif;
$alternative-font-family    : Georgia, Times, serif;

// Font Sizes
$font-xxl       : 60px;
$font-xl        : 30px;
$font-l         : 22px;
$font-m         : 16px;
$font-s         : 14px;
$font-xs        : 13px;
$font-xxs       : 12px;

// Line Heights
$lheight-l      : 1.5em;
$lheight-m      : 1.3em;
$lheight-s      : 1.2em;
$lheight-xs     : 1.1em;

/* Spaces
----------------------------------------------- */
$space-xxl      : 50px;
$space-xl       : 40px;
$space-l        : 30px;
$space-m        : 20px;
$space-s        : 10px;
$space-xs       : 5px;
$space-xxs      : 3px;
$space-n        : 0;

/* Border Radii
----------------------------------------------- */
$radius-l       : 9px;
$radius-m       : 7px;
$radius-s       : 5px;
$radius-xs      : 3px;

/* Default definitions
----------------------------------------------- */
$brand-color        : $bahama-blue;
$default-color      : $dark;
$default-background : $brightest;
